@import "base/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Geometria Regular", sans-serif;
}

.container-fluid {
  padding-left: 40px;
  padding-right: 40px;
}

a {
  text-decoration: none;
  color: $main-color;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.row {
  padding: 0;
}

.title {
  text-align: center;
  font-size: 42px;
  font-weight: 700;
  font-family: "Geometria ExtraBold";
}
// libs
@import "libs/fonts";

// blocks
@import "blocks/header";
@import "blocks/promo";
@import "blocks/about-us";
@import "blocks/education";
@import "blocks/mentor";
@import "blocks/theory";
// base
