.header {
  display: flex;
  align-items: center;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
  &__logo {
    font-size: 24px;
    font-family: "Geometria Bold";
    font-weight: 600;
    color: $main-color;
  }
  .nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    &__item-link {
      font-size: 16px;
      font-weight: 500;
      font-family: "Geometria Medium";
    }
  }
}
