.projects {
  padding-top: 120px;
  &__wrapper {
    display: flex;
  }
  .title {
    padding-left: 185px;
    text-align: initial;
  }
  &__descr {
    max-width: 560px;
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.55;
  }
  &__image {
    background-image: url("../img/projects_img.png");
    background-repeat: no-repeat;
    max-width: 85%;
    min-height: 550px;
    background-size: cover;
    margin: 40px auto;
  }
}
