.theory {
  padding-top: 90px;
  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__item {
    margin-left: 185px;
    max-width: 460px;
    .title {
      text-align: initial;
    }
  }
  &__item-descr {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.55;
  }
  &__image {
    background-image: url("../img/theory.png");
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 550px;
  }
  &__acces {
    border: 5px solid #ffc508;
    max-width: 880px;
    padding: 60px;
    margin: 0 auto;
    color: $main-color;
    font-size: 20px;
    line-height: 1.4;
    font-weight: 700;
    font-family: "Geometria Bold";
    letter-spacing: 0.6px;
    text-align: center;
  }
}
